.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter-container {
  width: 100vw;
  height: 100vh;
  background: orange;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}



.count {
  margin-top: 5rem;
  background: rgba(255, 68, 0, 0.6);
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.basic-op {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem  ;

  & button {
    border: none;
    background: orangered;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.2rem;
  }
}

.amount-input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  & button {
    border: none;
    background: orangered;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.2rem;
  }

  & input {
    background: rgba(255, 68, 0, 0.6);
    border: none;
    outline: none;
    padding: 1rem 10px;
    font-size: 1.2rem;
  }
}

.clear-all {
  margin-top: 5rem;
}

